텔레그램 일정비서.json
{
  "name": "텔레그램 일정비서",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "94b2928f-5119-4a02-a814-ff4da14265d9",
      "name": "Telegram Trigger",
      "webhookId": "6b70e59f-b1d4-4e32-b216-105e51a82461",
      "credentials": {
        "telegramApi": {
          "id": "9NxQb0jJgSgniUul",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        432,
        160
      ],
      "id": "490e4d5c-3e95-40bb-90d7-c8a0d7f5269b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "uORyTBoyotZTsuja",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "ae68c289-b495-462e-88b4-d2a78d3e6c2d",
      "name": "Wait",
      "webhookId": "8754dabd-f5a1-4e70-8b79-c4155f3922c7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "7b0bd893-f976-4bb1-a9b1-d8f966817f7f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a4be30de-5b26-4355-8e14-73cdb7bc23a1",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3b77a349-1a4b-4081-a887-ae401e4fc7ab",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "be991335-6a7d-47c0-badb-0bed4ddc86a8",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        912,
        -16
      ],
      "id": "985b33c9-d4a8-4633-8135-504200246441",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DF4-5249Dwj3xI20Kg_9RRY0cnp3mlYJS4k1BeFr33A/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "날짜": "= \"date\": \"2026-04-25\"",
            "시간 ": "={{ $json.time }}",
            "내용": "={{ $json.activity }}",
            "등록시간 ": "={{ $now }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "시간 ",
              "displayName": "시간 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "내용",
              "displayName": "내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "등록시간 ",
              "displayName": "등록시간 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1920,
        -96
      ],
      "id": "e91e81c3-1e13-4e9b-8cae-6812d72e7516",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "BL4e1U9reL8wderN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8371954061",
        "text": "=📅 *일정 등록 완료*\n\n📍 **내용:** {{ $json['내용'] }}\n🗓️ **날짜:** {{ $json['날짜'] }}\n⏰ **시간:** {{ $json['시간 '] }}\n\n✅ 요청시간: {{ $now.setZone('America/Los_Angeles').toFormat('HH:mm:ss') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2160,
        0
      ],
      "id": "80c2b458-781f-4184-aaf2-4adc53fefce3",
      "name": "Send a text message",
      "webhookId": "ad175dc4-e898-4a9b-824c-8c35be0bcb90",
      "credentials": {
        "telegramApi": {
          "id": "9NxQb0jJgSgniUul",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2304,
        304
      ],
      "id": "38d5bfc9-0cfd-4842-9ed7-2ab9b6104094",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "uORyTBoyotZTsuja",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=반드시 JSON만 응답하라. 설명, 인사말, 마크다운(```)은 금지한다.\n\n[데이터]\n- 현재날짜: {{ $now.setZone('America/Los_Angeles').toFormat('yyyy-MM-dd') }}\n- 사용자메시지: {{ $json.message.text }}\n\n[출력형식]\n{\"action\":\"{{ $json.message.text.match(/조회|일정|뭐|있어|언제/) ? 'read' : ($json.message.text.match(/변경|수정|업데이트|바꿔/) ? 'update' : 'create') }}\",\"date\":\"{{ $json.message.text.match(/(\\d{1,2})월\\s*(\\d{1,2})일/) ? '2026-' + $json.message.text.match(/(\\d{1,2})월/)[1].padStart(2,'0') + '-' + $json.message.text.match(/(\\d{1,2})일/)[2].padStart(2,'0') : '2026-04-18' }}\",\"time\":\"{{ $json.message.text.match(/(\\d{1,2})시/) ? $json.message.text.match(/(\\d{1,2})시/)[1].padStart(2,'0') + ':00' : '00:00' }}\",\"activity\":\"{{ $json.message.text.split(/변경|수정|업데이트|바꿔/)[0].replace(/4월|20일|10시|을|를|으로|로/g, '').trim() }}\",\"new_value\":\"{{ $json.message.text.match(/(?:로|을|를)\\s*(\\S+)(?:로\\s*변경|으로\\s*변경|변경|수정)/) ? $json.message.text.match(/(?:로|을|를)\\s*(\\S+)(?:로\\s*변경|으로\\s*변경|변경|수정)/)[1] : '' }}\"}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        432,
        0
      ],
      "id": "3fc0e863-089f-40d9-aace-c4f0c2196c8d",
      "name": "Basic Schedule Agent"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DF4-5249Dwj3xI20Kg_9RRY0cnp3mlYJS4k1BeFr33A/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1904,
        96
      ],
      "id": "b6df5172-7dda-48b3-8df4-b2002cf2ac1b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "BL4e1U9reL8wderN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 기존 내용을 모두 지우고 이 코드만 붙여넣으세요.\nconst inputData = $json.text;\n\n// 1. 데이터가 이미 객체인 경우 처리\nif (typeof inputData === 'object' && inputData !== null) {\n  return inputData;\n}\n\ntry {\n  // 2. 텍스트 양 끝 공백 제거 후 파싱\n  const cleanedText = inputData.trim();\n  const parsed = JSON.parse(cleanedText);\n\n  // 3. 필드 보정 (기본값 설정)\n  if (!parsed.date) parsed.date = new Date().toISOString().split('T')[0];\n  if (!parsed.time) parsed.time = \"00:00\";\n  if (!parsed.action) parsed.action = \"read\";\n\n  return parsed;\n\n} catch (e) {\n  // 4. 파싱 실패 시 정규표현식으로 JSON 형태만 추출 시도\n  const match = inputData.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      return JSON.parse(match[0]);\n    } catch (innerError) {\n      return { action: \"chat\", activity: \"파싱 최종 실패\", raw: inputData };\n    }\n  }\n  \n  // 5. JSON 형식이 전혀 없는 경우 일반 채팅으로 반환\n  return { action: \"chat\", activity: inputData };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        0
      ],
      "id": "fc6a72ef-ffca-4ea9-97ab-4d2cc6eda41a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=System Message: > \"너는 일정 관리 비서야. 제공된 [일정 리스트]를 보고 사용자의 [질문]에 맞춰서 요약해줘. 만약 리스트가 비어있다면 등록된 일정이 없다고 말해줘.\"\n\nUser Message:\n\n[일정 리스트]: {{ JSON.stringify($(\"Get row(s) in sheet\").all().map(item => item.json)) }}\n[사용자 질문]: {{ $item(0).$node[\"Telegram Trigger\"].json.message.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2256,
        160
      ],
      "id": "1d75912b-b3bb-429d-8c56-a761c4505ce0",
      "name": "Schedule check Agent"
    },
    {
      "parameters": {
        "chatId": "8371954061",
        "text": "={{ $item(0).$node[\"Schedule check Agent\"].json.text }}",
        "replyMarkup": "={\n{\n  \"inline_keyboard\": $input.all().map(item => [\n    {\n      \"text\": `${item.json[\"날짜\"]} - ${item.json[\"할일\"]}`,\n      \"callback_data\": `view_${item.json[\"row_number\"]}`\n    }\n  ])\n}\n}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2624,
        144
      ],
      "id": "25ac8198-493e-476d-9c6c-c363db3e0bb1",
      "name": "Send a text message1",
      "webhookId": "ad175dc4-e898-4a9b-824c-8c35be0bcb90",
      "credentials": {
        "telegramApi": {
          "id": "9NxQb0jJgSgniUul",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DF4-5249Dwj3xI20Kg_9RRY0cnp3mlYJS4k1BeFr33A/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2192,
        464
      ],
      "id": "d39b79e3-d69d-4eb6-b4d9-5e24cf2731d2",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleApi": {
          "id": "BL4e1U9reL8wderN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1DF4-5249Dwj3xI20Kg_9RRY0cnp3mlYJS4k1BeFr33A/edit",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $node[\"Get row(s) in sheet1\"].json.row_number }}",
            "내용": "={{ $node[\"Basic Schedule Agent\"].json.new_value }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "날짜",
              "displayName": "날짜",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "시간 ",
              "displayName": "시간 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "내용",
              "displayName": "내용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "등록시간 ",
              "displayName": "등록시간 ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        432
      ],
      "id": "ec43e88c-2300-44e3-8f3d-ba8679b609cc",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "BL4e1U9reL8wderN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8371954061",
        "text": "=Text: 📅 {{ $json.date }} 일정 변경 확인. \"{{ $json.new_value }}\"(으)로 변경할까요? (응/아니)",
        "replyMarkup": "={{\n{\n  \"inline_keyboard\": [\n    [\n      {\n        \"text\": \"✅ 네, 변경합니다\",\n        \"callback_data\": \"confirm_update\"\n      },\n      {\n        \"text\": \"❌ 아니요, 취소\",\n        \"callback_data\": \"cancel_update\"\n      }\n    ]\n  ]\n}\n}}",
        "forceReply": {},
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        256
      ],
      "id": "5eb151ae-1e4f-436b-a716-65065f228d66",
      "name": "Send a text message2",
      "webhookId": "ad175dc4-e898-4a9b-824c-8c35be0bcb90",
      "credentials": {
        "telegramApi": {
          "id": "9NxQb0jJgSgniUul",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "bcd60451-a519-45db-ad97-f88f88639141",
      "name": "Telegram Answer Trigger",
      "webhookId": "6b70e59f-b1d4-4e32-b216-105e51a82461",
      "credentials": {
        "telegramApi": {
          "id": "9NxQb0jJgSgniUul",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2ad45a44-54a6-44d7-acdf-ee88c067a098",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "(네|예|응|그래|어|ㅇㅇ|업데이트)",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        304
      ],
      "id": "4a6715b7-112e-42df-b0fc-ead888ad7580",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1168,
        176
      ],
      "id": "be120875-9cbe-46e8-a362-ac41c39e78d9",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "uORyTBoyotZTsuja",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=너는 일정 관리 시스템의 분류 전문가야. \n사용자의 입력(input)을 분석해서 아래 4가지 액션 중 하나로 분류하고, 필요한 정보를 JSON 형식으로만 응답해줘.\n\n1. 분류 규칙:\n- 일정을 확인하거나 물어보는 경우: action = \"read\"\n- 기존 일정을 수정하거나 이름을 바꾸는 경우: action = \"update\"\n- 새로운 일정을 등록하거나 추가하는 경우: action = \"create\"\n- 시스템 오류나 알 수 없는 명령인 경우: action = \"error\"\n\n2. 출력 형식 (반드시 이 JSON 포맷만 출력):\n{\n  \"action\": \"분류된값\",\n  \"name\": \"추출된 이름(없으면 null)\",\n  \"date\": \"추출된 날짜(없으면 null)\",\n  \"new_value\": \"수정할 내용(없으면 null)\"\n}\n\n사용자 입력: {{ $json.message.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1152,
        0
      ],
      "id": "1595928b-728b-4014-bd6e-35ea23c6baa2",
      "name": "Segrigate Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        1312,
        160
      ],
      "id": "834f7f7a-caf0-4474-9af8-c9b7d58b0b23",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"action\": \"read\",\n  \"name\": \"지은미\",\n  \"date\": \"2026-04-18\",\n  \"new_value\": \"내용\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1520,
        304
      ],
      "id": "6725f629-4021-477b-8ec3-516a570e1bdf",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {
    "Get row(s) in sheet": [
      {
        "json": {
          "row_number": 2,
          "날짜": "",
          "시간 ": "",
          "내용": "",
          "등록시간 ": "2026-04-18T19:01:00.804-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "날짜": "",
          "시간 ": "",
          "내용": "",
          "등록시간 ": "2026-04-18T19:03:14.779-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 4,
          "날짜": "2026-04-20",
          "시간 ": "",
          "내용": "",
          "등록시간 ": "2026-04-18T19:07:14.408-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 5,
          "날짜": "2026-04-20",
          "시간 ": "10:00:00",
          "내용": "유니스 자동차 보험 견적",
          "등록시간 ": "2026-04-18T19:08:36.854-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 6,
          "날짜": "",
          "시간 ": "",
          "내용": "내용 없음",
          "등록시간 ": "2026-04-18T19:32:20.307-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 7,
          "날짜": "2026-04-20",
          "시간 ": "10:00",
          "내용": "보험 견적",
          "등록시간 ": "2026-04-18T19:41:17.058-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 8,
          "날짜": "",
          "시간 ": "",
          "내용": "",
          "등록시간 ": "2026-04-18T19:46:24.908-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 9,
          "날짜": " \"date\": \"2026-04-25\"",
          "시간 ": "0:00",
          "내용": "4월20일 10시 보험 견적을 지은미로 변경",
          "등록시간 ": "2026-04-18T20:26:52.379-07:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Basic Schedule Agent": [
      {
        "json": {
          "text": "{\"action\":\"read\",\"date\":\"2026-04-18\",\"time\":\"00:00\",\"activity\":\"다음주 일정 보여줘\",\"new_value\":\"\"}"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic Schedule Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic Schedule Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Segrigate Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Schedule check Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic Schedule Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Schedule check Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule check Agent": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Answer Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Segrigate Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Segrigate Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Segrigate Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Los_Angeles",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "a6182f35-ca42-4be1-be6d-75bb85f6061c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d6acfc8cbe4f5d7357a279b461f8484cdf54ce1bf3500f5fa099ec85f18ad72"
  },
  "id": "MHrKkrM3SlcQbn43",
  "tags": []
}